<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.pics {display:none;}
.comp {display:none;}
</style>


  <body>



    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    <p>The Computer Science Undergraduate Association supports the undergraduate computer science student body at UC Berkeley and acts as an entry point to industry.
    The CSUA hosts tech talks, hackathons, info sessions, CS workshops, LAN parties, and the biannual Startup Fair.
    Looking for a place to learn more about computer science and meet other students? Come visit us at our office (311 Soda) or use our study lounge (341* Soda).</p>

    <div class="csuapics" style="max-width:500px">
      <img class="pics" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic1.jpg" style="width:100%">
      <img class="pics" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic2.jpg" style="width:100%">
      <img class="pics" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic3.jpg" style="width:100%">
      <img class="pics" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic4.jpg" style="width:100%">
      <img class="pics" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic5.jpg" style="width:100%">
    </div>
    <div class="corpics" style="max-width:500px">
      <img class="comp" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic1.jpg" style="width:100%">
      <img class="comp" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic2.jpg" style="width:100%">
      <img class="comp" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic3.jpg" style="width:100%">
      <img class="comp" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic4.jpg" style="width:100%">
      <img class="comp" src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic5.jpg" style="width:100%">
    </div>
    <script>
  var myIndex = 0;
  carousel();

  function carousel() {
      var i;
      var x = document.getElementsByClassName("pics");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
  }

  var ind = 0;
  kcarousel();

  function kcarousel() {
    
      var i;
      var x = document.getElementsByClassName("comp");
      for (i = 0; i < x.length; i++) {
         x[i].style.display = "none";
      }
      ind++;
      if (ind > x.length) {ind = 1}
      x[ind-1].style.display = "block";
      setTimeout(kcarousel, 2000); // Change image every 2 seconds
  }
  </script>



  </body>

</html>
