<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.pics {display:none;}
.comp {display:none;}
</style>
{% include head.html %}

  <body>

{% include header.html %}

    <div class="page-content">
      <h2 id="eventshead">Upcoming Events</h2>
      <div class="wrapper">
        {{ content }}
      </div>
      <img src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic1.jpg"/>
    </div>

    <div class="rightside">

      <h2 id="abouthead">About Us</h2>

      <p>
      The Computer Science Undergraduate Association supports the undergraduate computer science student body at UC Berkeley and acts as an entry point to industry.
      The CSUA hosts tech talks, hackathons, info sessions, CS workshops, LAN parties, and the biannual Startup Fair.
      Looking for a place to learn more about computer science and meet other students? Come visit us at our office (311 Soda) or use our study lounge (341* Soda).</div>
      </p>

      <div class="carousel">
        <div id="owl" class="owl-carousel owl-theme">

          <div class="item"><img src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic1.jpg"></div>
          <div class="item"><img src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic2.jpg"></div>
          <div class="item"><img src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic3.jpg"></div>
          <div class="item"><img src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic4.jpg"></div>
          <div class="item"><img src="https://raw.githubusercontent.com/csuabb/csuabb.github.io/master/csuapics/pic5.jpg"></div>

        </div>
      </div>

    </div>
  <script>
  $(document).ready(function() {
    $("#owl").owlCarousel({
        slideSpeed : 300,
        paginationSpeed : 400,
        singleItem : true,
        autoPlay : 6000,
        pagination : false
    });

  });

  </script>
  </body>

</html>
